/* Footer.css */

.footer {
    background-color: #A0CBFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .footer-section {
    margin: 10px 0;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section a {
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    padding: 10px;
    border-top: 1px solid #ffffff50; /* Light white border for separation */
  }
  
.footer a:hover {
  text-decoration: underline;
}
  