.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}


.fixed-bottom {
  position: fixed;
  bottom: 0;
  z-index: 1000; /* Keeps it on top */
  background-color: #fff; /* Optional: for visibility */
  padding: 20px;
  width: 100%;
}

.options-container {
  display: flex;
  justify-content: left; /* Centers the buttons horizontally */
  flex-wrap: wrap; /* Allows buttons to wrap in smaller screens */
  padding: 10px 0; /* Adds vertical padding without affecting centering */
}