.vocab-box {
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
}

.vocab-nobox {
  cursor: pointer;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  min-width: 400px;
  max-width: 500px; 
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
