.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Ensures it spans the full width */
  z-index: 1000; /* Keeps it on top */
  background-color: #fff; /* Optional: for visibility */
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optional: for depth */
  /* Add padding if needed, but remember it affects internal content alignment */
}

.options-container {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  flex-wrap: wrap; /* Allows buttons to wrap in smaller screens */
  padding: 10px 0; /* Adds vertical padding without affecting centering */
}
